<% provide(:title, "Latest Reports") %>

<h1>Latest Reports</h1>
    <% @reports.each do |r| %>
        <ul>
            <li><%= link_to r.title, reports_recent_reports_path %></li>
        </ul>
    <% end %>    
