<h1>Welcome to Fishing Report!</h1>
<br>

<%= link_to 'Locations', new_location_path %><br>
<%= link_to 'Logout', destroy_user_session_path, method: delete %>

  <!-- list all locations here -->






