<p>Hello, <%= current_user.email %>!</p>
<h2>Welcome to the fishing report!</h2>
<br>

<div class="photo">
    <img src="https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c239.0.962.962a/s640x640/81535034_503387676970850_7328823317141674505_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=102&_nc_ohc=fVsv8OdDr2wAX--b-bZ&oh=1e681bf41c59911548280679f2db19b6&oe=5F034B3A" alt="rainbow">
    <img src="https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c239.0.962.962a/s640x640/78858377_207133770292381_7934362405542137691_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=tU9k-bvhprIAX-V3ehr&oh=d39fb8b0bd3693a44dac00febc615307&oe=5EF58A35">
</div>
<br>
<h3>Select a location or create a new one!</h3>
    <%= link_to 'Add Location', new_location_path %> | 
    <%= link_to 'Locations Index', locations_path %><br>







