<h1>Welcome to Fishing Report!</h1>
<br>
<h3>Select a location or create a new one.</h3>
<%= link_to 'Locations', locations_path %><br>
<%= link_to 'Create New Location', new_location_path %><br>







