
<p><%= simple_form_for @location do |f| %>
        <%= f.text_field :name, label: "Location Name" %><br>
        <%= f.input :description %><br>
        <%= f.button :submit, :class => 'btn-custom' %><br>
    <% end %></p><br>

    
<!--options_for_select helper >