<% @locations.each do |l| %><br>
    <%= link_to l.name, location_path(l), class: "btn btn-primary" %><br>
     <% end %>
    <br>
     <%= link_to "New Location", new_location_path %>
     

     <div class="photo">
    <img src="https://cdn.thinglink.me/api/image/647489239688151040/1240/10/scaletowidth" alt="rainbow">
</div>